.App {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.appHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;  
}

.appHeaderRight {
  /*outline: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  margin-top: 15px;
  text-align: center;
}

.appHeaderRightHeader {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.appHeaderRightUser {
  text-align: center;
  color: blue;
  font-weight: bold;
}

.hoverColor *:hover{
  color: crimson !important;
}

.chatList {
  width: 24%;
  min-width: 200px;
  outline: 1px solid black;
}

.others {
  width: 75%;
  min-width: 355px;
  outline: 1px solid black;
}

.messagesHeader {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.loggedIn {
  font-weight: lighter;
  color: blue;
}
